<div class="footer fixed-bottom" style="padding-top: 10px;">
<footer class="bg-dark text-center text-white ">
  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright Nit calicut
  </div>
  <!-- Copyright -->
</footer>
</div>